/* UTILITIES */
* a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    height: auto;

}





/* BG COLORS */

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.bg-lightgray{
    background-color: #BEBCBB;
}

.bg-darkblue{
    background-color: #161C3B;
}

.bg-blue{
    background-color: #00439C;
}

/* HEADER */
.top-header{
}


.bottom-header ul{
    list-style-type: none;
    display: inline;   
}

.bottom-header ul li{
    display: inline;
    padding-right: 5px;
    font-weight: 600;
}

.bottom-header ul li img{
    width: 10px;
}

.bottom-header ul li .lens{
    width: 30px;
}


/* SPOTLIGHT */

.spotlight{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.returnal-text{
    width: 300px;
    height: auto;
    
}

.pad-spotlight{
    padding-top: 200px;
}

/* MAIN */

.text-blue{
    color: dodgerblue
    
}

.take-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.playstation-four h2{
    font-size: 40px;
}

.playstation-four h3{
    font-size: 30px;
}

.playstation-four span{
   font-weight: 600;
   color: gray;
   font-size: 20px;
}

.playstation-four p{
    font-weight: 600;
    color: gray;
    font-size: 20px;
 }

.playstation-four span a{
    font-weight: 500;
    font-size: 16px;

}

.social-media h2{
    font-size: 40px;
}


footer ul{
    list-style-type:none;
}

.bottom-footer p a{
    text-decoration: underline;
}


/* LOGO */
#logo-sony{
    width: 100px;
    padding: 10px;
}

#logo-playstation{
    padding-left: 20px;
}

#taketwo-logo{
    width: 300px;
    padding-top: 40px ; 
}

#ps-plus-logo{
    width: 300px;
}

#ps-now-logo{
    width: 300px;
    
}

.logoplay-footer{
    width: 150px;
    filter: brightness(0) invert(1);
   
}
.language-globe{
    width: 20px;
}

.sie-logo{
    width: 150px;
}
/* ICONS */

.fa-bars{
    font-size: 25px;
    color:darkgray;
    border: 1px solid lightgray;
    border-radius: 5px ;
    padding: 5px 15px;
}

.bars-padding{
    padding-right: 20px;
}





/* BTN */

.btn-buy{
    background-color: #CD3D0F;
    border-radius: 20px;
}

.btn-lightblue{
    background-color: #2D64E6;
    border-radius: 20px;
}

.btn-white{
    background-color: #D9DADC;
    border-radius: 20px;
}

.btn-dark{
    background-color: #363636;
    border-radius: 20px;
}

/* text hidden  */

.bottom-header .show-lg{
    display: none;
}

.show-md{
    display: none;
}

.col-hidden{
    display: none;
}

@media (min-width: 768px) {
    .show-md{
        display: block
    }

    .col-hidden{
        display: block;
    }
 }


@media (min-width: 992px) {
    .bottom-header .show-lg{
        display: inline;
    }

    .hide-lg{
        display: none;
    }
 }